/*Barra de navegación 1*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
    background-color: #024F59;
    color: white;
}
.footer-nav {
    align-items: center;
    margin-bottom: 40px;
}
.footer-nav-menu {
    display: flex;
    margin: 0;
}
.footer-nav-item {
    margin: 0 10px;
}
.footer-nav-link {
    font-size: 14px;
    color: white;
}
/*Barra de navegación 2 (ÍCONOS) */


/*.footer-social-icon {
    display: block;
    width: 2.7rem;
    height: 2.7rem;
    background-color: white;
    color: #8338ec;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 2.7rem;
    text-align: center;
    transition: 0.1s;
}
.footer-social-link{
    border-radius: 50%;
    width: 2.7rem;
    margin: 10px;
}*/
.footer-nav-flex{
    display: flex;
    flex-direction: row;
    width: 18vw;
    justify-content: space-around;
    margin-bottom: 40px;
}
.footer-icon{
    font-size: 20px;
    /*color: white;*/
}
.footer-social-link {
    font-size: 20px;
    color: #024F59;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
}

/* Texto final*/

.final-text {
    color:white;
    font-size: 18px;
}

/*Transiciones*/

/* Barra de navegación Íconos*/

.footer-social-link:hover {
    font-size: 20px;
    color: white;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;  
    border: 1px solid white ;
}