.navegation-bar {
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    /*height: 100px;*/
    background: linear-gradient(#642874, #B53167);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav-item {
    font-weight: 100;
    font-size: 18px;
    padding: 20px
}
.contac {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    margin-right: 100px;
    align-self: center;
    text-align: center;
    padding: 15px;
}