.background-section-skills {
    background-color: rgb(255, 255, 255);
    text-align: center;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}
.skills-description {
    width: 50vw;
    font-size: 20px;
    font-weight: bold;
    color:gray;
    text-align: center;
    max-width: 800px;
    align-self: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
}
.skill {
    color: #2e2e31;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 20px;
    padding: 50px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-icon {
    display: block;
}
.text-skill {
    font-weight: bolder;
    font-size: 20px;
}
.skill:hover {
    border: 1px solid #024F59;
    border-radius: 8px;
    color:#024F59;
}