@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Nunito', sans-serif;
}
div {
    display: block;
}

.section {
    width: 100vw;
    padding: 100px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
h2 {
    color: black;
    font-weight: bolder;
    font-size: 60px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 30px;
}
body {
    overflow-x: hidden;
}